<template>
  <v-app>
    <v-app-bar
      app
      color="primary"
      dark
    >
      <div class="d-flex align-center">
        <h1>alterm</h1>
      </div>
    </v-app-bar>

    <v-navigation-drawer app permanent>
      <v-list nav>
        <v-subheader>
          SCENARIOS
          <v-spacer></v-spacer>
          <v-tooltip bottom>
            <template v-slot:activator="{ on }">
              <v-btn
                icon color="green"
                v-on="on"
                @click="addScenario(); save();"
              >
                <v-icon>mdi-plus</v-icon>
              </v-btn>
            </template>
            <span>New scenario</span>
          </v-tooltip>
        </v-subheader>
        <v-list-item-group color="primary">
          <v-list-item
            v-for="(scenario, i) in scenarios"
            :key="i"
            @click="changeSelection(i)"
          >
            <v-list-item-content>
              <v-list-item-title>{{ scenario.title }}</v-list-item-title>
              <v-list-item-subtitle>
                {{ scenario.patterns.map(p => p.search + " → " + p.replace).join(", ") }}
              </v-list-item-subtitle>
            </v-list-item-content>
            <v-list-item-action>
              <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                  <v-btn
                    icon
                    v-on="on"
                    @click="removeScenario(i); save();"
                  >
                    <v-icon>mdi-delete</v-icon>
                  </v-btn>
                </template>
                <span>Delete this scenario</span>
              </v-tooltip>
            </v-list-item-action>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>

    <v-content v-if="selected">
      <v-container fluid>
        <v-row dense>
          <v-col cols="12">
            <v-card>
              <v-card-title>General</v-card-title>
              <v-card-actions>
                <v-text-field
                  v-model="scenarios[index].title"
                  label="Title"
                  @input="save()"
                ></v-text-field>
              </v-card-actions>
            </v-card>
          </v-col>
          <v-col cols="12">
            <v-card>
              <v-card-title>
                Patterns
                <v-spacer></v-spacer>
                <v-tooltip bottom>
                  <template v-slot:activator="{ on }">
                    <v-btn
                      icon color="green"
                      v-on="on"
                      @click="addPattern(); panels.push(scenarios[index].patterns.length - 1); save();"
                    >
                      <v-icon>mdi-plus</v-icon>
                    </v-btn>
                  </template>
                  <span>New pattern</span>
                </v-tooltip>
              </v-card-title>
              <v-expansion-panels
                v-model="panels"
                accordion
                multiple
              >
                <v-expansion-panel
                  v-for="(p, i) in scenarios[index].patterns"
                  :key="i"
                >
                  <v-expansion-panel-header>
                    <v-container>
                      <v-row no-gutters>
                        <v-col cols="4">
                          <span :class="!errorMessages[i] ? 'grey--text text--darken-4' : 'red--text'">
                            {{ p.search }}
                          </span>
                        </v-col>
                        <v-col cols="1">
                          <v-icon color="grey darken-4">mdi-transfer-right</v-icon>
                        </v-col>
                        <v-col cols="4">
                          <span :class="!!p.replace ? 'grey--text text--darken-4' : 'grey--text text--lighten-1'">
                            {{ p.replace || "(empty)" }}
                          </span>
                        </v-col>
                        <v-col cols="1">
                          <v-tooltip bottom>
                            <template v-slot:activator="{ on }">
                              <v-btn
                                small icon
                                v-on="on"
                                :disabled="i === 0"
                                @click="$event.stopPropagation(); swapPattern(i, i - 1); save();"
                              ><v-icon>mdi-arrow-up</v-icon></v-btn>
                            </template>
                            <span>Move upwards</span>
                          </v-tooltip>
                        </v-col>
                        <v-col cols="1">
                          <v-tooltip bottom>
                            <template v-slot:activator="{ on }">
                              <v-btn
                                small icon
                                v-on="on"
                                :disabled="i === scenarios[index].patterns.length - 1"
                                @click="$event.stopPropagation(); swapPattern(i, i + 1); save();"
                              ><v-icon>mdi-arrow-down</v-icon></v-btn>
                            </template>
                            <span>Move downwards</span>
                          </v-tooltip>
                        </v-col>
                        <v-col cols="1">
                          <v-tooltip bottom>
                            <template v-slot:activator="{ on }">
                              <v-btn
                                small icon
                                v-on="on"
                                :disabled="scenarios[index].patterns.length === 1"
                                @click="$event.stopPropagation(); removePattern(i); save();"
                              ><v-icon>mdi-delete</v-icon></v-btn>
                            </template>
                            <span>Delete this pattern</span>
                          </v-tooltip>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-expansion-panel-header>
                  <v-expansion-panel-content>
                    <v-container fluid>
                      <v-row dense>
                        <v-col cols="12" md="6">
                          <v-text-field
                            v-model="p.search"
                            label="Search"
                            @input="updateRegex(); save();"
                            :error="!!errorMessages[i]"
                            :error-messages="errorMessages[i]"
                            class="my-n4"
                          >
                            <template v-slot:append>
                              <v-tooltip bottom>
                                <template v-slot:activator="{ on }">
                                  <v-checkbox
                                    v-model="scenarios[index].patterns[i].ignoreCase"
                                    @change="save()"
                                    on-icon="mdi-format-letter-case"
                                    off-icon="mdi-format-letter-case"
                                    v-on="on"
                                    dense
                                    class="my-n4"
                                  ></v-checkbox>
                                </template>
                                Ignore case
                              </v-tooltip>
                              <v-tooltip bottom>
                                <template v-slot:activator="{ on }">
                                  <v-checkbox
                                    v-model="scenarios[index].patterns[i].useRegex"
                                    @change="updateRegex(); save();"
                                    on-icon="mdi-regex"
                                    off-icon="mdi-regex"
                                    v-on="on"
                                    dense
                                    class="my-n4"
                                  ></v-checkbox>
                                </template>
                                Use regex
                              </v-tooltip>
                            </template>
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" md="6">
                          <v-text-field
                            class="my-n4"
                            v-model="p.replace"
                            label="Replace"
                            @input="save()"
                          ></v-text-field>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-expansion-panel-content>
                </v-expansion-panel>
              </v-expansion-panels>
            </v-card>
          </v-col>

          <v-col cols="12">
            <v-card>
              <v-card-title>
                Convert
                <v-spacer></v-spacer>
                <v-tooltip bottom>
                  <template v-slot:activator="{ on }">
                    <v-btn icon v-on="on" @click="paste()">
                      <v-icon>mdi-content-paste</v-icon>
                    </v-btn>
                  </template>
                  <span>Paste to input</span>
                </v-tooltip>
                <v-tooltip bottom>
                  <template v-slot:activator="{ on }">
                    <v-btn icon v-on="on" @click="copy()">
                      <v-icon>mdi-content-copy</v-icon>
                    </v-btn>
                  </template>
                  <span>Copy from output</span>
                </v-tooltip>
              </v-card-title>
              <v-container fluid>
                <v-row no-gutters>
                  <v-col cols="12">
                    <v-textarea
                      v-model="input"
                      label="Input"
                      @input="save()"
                      outlined
                    ></v-textarea>
                  </v-col>

                  <v-col cols="12">
                    <v-textarea
                      v-model="output"
                      label="Output"
                      outlined
                      readonly
                    ></v-textarea>
                  </v-col>
                </v-row>
              </v-container>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

type Pattern = {
  search: string;
  replace: string;
  ignoreCase: boolean;
  useRegex: boolean;
}
type Scenario = {
  title: string;
  patterns: Pattern[];
};

@Component({components: {}})
export default class App extends Vue {
  scenarios: Scenario[] = [];
  index = -1;
  input = "";

  isValid = true;
  errorMessages: string[] = [];
  panels: number[] = [];

  created() {
    const version = localStorage.getItem("alterm-version");
    localStorage.setItem("alterm-version", "1");

    if (version === "1") {
      const json = localStorage.getItem("alterm-scenarios");
      if (json !== null)
        this.scenarios = JSON.parse(json);
    }

    const input = localStorage.getItem("alterm-input");
    if (input !== null) {
      this.input = input;
    }
  }

  save() {
    localStorage.setItem("alterm-scenarios", JSON.stringify(this.scenarios));
    localStorage.setItem("alterm-input", this.input);
  }


  addScenario() {
    this.scenarios.push({
      title: "Pattern",
      patterns: [{
        search: ".*",
        replace: "",
        ignoreCase: false,
        useRegex: true
      }]
    });
  }

  removeScenario(indexToRemove: number) {
    if (this.index === indexToRemove) this.index--;
    this.scenarios = this.scenarios.filter((_, i) => i !== indexToRemove);
  }

  changeSelection(i: number) {
    this.index = i;
    this.errorMessages.length = this.scenarios[this.index].patterns.length;
    this.updateRegex();
  }

  addPattern() {
    this.scenarios[this.index].patterns.push({
      search: ".*",
      replace: "",
      ignoreCase: false,
      useRegex: true
    });
  }

  removePattern(indexToRemove: number) {
    if (this.scenarios[this.index].patterns.length <= 1) return;
    this.scenarios[this.index].patterns = this.scenarios[this.index].patterns.filter((_, i) => i !== indexToRemove);
  }

  swapPattern(i1: number, i2: number) {
    const patterns = this.scenarios[this.index].patterns;
    const tmp = this.scenarios[this.index].patterns[i1];

    Vue.set(patterns, i1, patterns[i2]);
    Vue.set(patterns, i2, tmp);
  }

  updateRegex() {
    this.scenarios[this.index].patterns.forEach((pattern, i) => {
      if (this.scenarios[this.index].patterns[i].useRegex) {
        try {
          new RegExp(pattern.search, "gm" + (pattern.ignoreCase ? "i" : ""));
          this.errorMessages[i] = "";
        } catch (error) {
          this.errorMessages[i] = error.message;
        }
      } else {
        this.errorMessages[i] = "";
      }
    });

    this.isValid = this.scenarios[this.index].patterns.every((_, i) => !this.errorMessages[i]);
  }

  copy() {
    navigator.clipboard.writeText(this.output);
  }

  paste() {
    navigator.clipboard.readText().then(s => {
      this.input = s;
    });
  }

  escapeRegex(search: string) {
    const charsToBeEscaped = ["\\", "*", ".", "+", "?", "|", "{", "}", "(", ")", "[", "]", "^", "$"];
  
    let preprocessed = search;
    charsToBeEscaped.forEach(c => {
      const regex = new RegExp("\\" + c, "g");
      preprocessed = preprocessed.replace(regex, "\\" + c);
    });
    return preprocessed;
  }

  get selected() {
    return this.index !== -1;  
  }

  get output() {
    if (this.isValid) {
      let text = this.input;
      this.scenarios[this.index].patterns.forEach(pattern => {
        const preprocessed = pattern.useRegex ? pattern.search : this.escapeRegex(pattern.search);
        const regex = new RegExp(preprocessed, pattern.ignoreCase ? "gmi" : "gm");
        text = text.replace(regex, pattern.replace);
      });
      return text;
    }
    return "";
  }
}
</script>
